<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
 <head>
  <meta content="text/html; charset=utf-8">
  <link href="style.css" rel="stylesheet">
  <title>Какое-то название</title>
 </head>
 <body>
  <div class="header">
   <span class="logo">AniHelper</span>
   <a href="/"><span class="exit">ВЫЙТИ</span></a>
   <span class="userName" th:text="${user.username}"></span>
  </div>

  <div class="selector">
   <form action="">
    <label class="animeName">
     <span>НАЗВАНИЕ АНИМЕ:</span>
     <input type="text">
    </label>

    <span>ЖАНРЫ:</span>

    <label class="custom-checkbox">
     <input type="checkbox" value="Action">
     <span>ACTION</span>
    </label>

    <label class="custom-checkbox">
     <input type="checkbox" value="Adventure">
     <span>ADVENTURE</span>
    </label>

    <label class="custom-checkbox">
     <input type="checkbox" value="Comedy">
     <span>COMEDY</span>
    </label>

    <label class="custom-checkbox">
     <input type="checkbox" value="Drama">
     <span>DRAMA</span>
    </label>

    <label class="custom-checkbox">
     <input type="checkbox" value="Slice of Life">
     <span>SLICE OF LIFE</span>
    </label>

    <label class="custom-checkbox">
     <input type="checkbox" value="Fantasy">
     <span>FANTASY</span>
    </label>

    <label class="custom-checkbox">
     <input type="checkbox" value="Magic">
     <span>MAGIC</span>
    </label>

    <label class="custom-checkbox">
     <input type="checkbox" value="Supernatural">
     <span>SUPERNATURAL</span>
    </label>

    <label class="custom-checkbox">
     <input type="checkbox" value="Horror">
     <span>HORROR</span>
    </label>

    <label class="custom-checkbox">
     <input type="checkbox" value="Mystery">
     <span>MYSTERY</span>
    </label>

    <label class="custom-checkbox">
     <input type="checkbox" value="Psychological">
     <span>PSYCHOLOGICAL</span>
    </label>

    <label class="custom-checkbox">
     <input type="checkbox" value="Romance">
     <span>ROMANCE</span>
    </label>

    <label class="custom-checkbox">
     <input type="checkbox" value="Sci-Fi">
     <span>SCI-FI</span>
    </label>

    <input type="reset" value="СБРОСИТЬ">
    <input type="submit" value="НАЙТИ">
   </form>
  </div>

 </body>
</html>